
/* Main section */

main.main-area {
    background: url("../../images/join-as-partner-bg.png"); 
    background-color: #E8EAEE; 
    height: 100%; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
  }

h2.title {
    font-size: 22px;
    font-weight: 600;
}
.left-text, .right-text {
    border-radius: 7px;
}
.invitation-message{
    border: 2px solid #1D2E5C;
    border-radius: 7px;
}
.invitation-message p {
    margin: 0;
    padding: 0;
    color: #293250;
    font-weight: 600;
}

span#sender-name {
    font-size: 18px;
    color: #293250;
    font-weight: 600;
}

small, #transaction-id {
    font-size: 14px;
    font-weight: 500;
    color: #666666;
}

.escrow-title-area h6 {
    color: #666666;
    font-size: 16px;
    font-weight: 500;
}

.escrow-title h4 {
    font-weight: 600;
    font-size: 20px;
    margin: 0;
}
.escrow-title a {
    color: #293250;
    font-size: 14px;
    font-weight: 500;
}

.grey-text {
    font-size: 16px;
    font-weight: 500;
    color: #666666;
}
.black-text {
    font-size: 18px;
    font-weight: 500;
}

.escrow-buyer-fees, .escrow-invited-by, .escrow-your-fees {
    margin: 0;
    font-size: 14px;
}
.escrow-body-you-pay {
    padding-top: 1rem;
}

.escrow-you-pay {
    margin: 0;
}

.accept-btn {
    font-size: 18px;
    font-weight: 600;
    border: none;
    background: #293250;
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid #293250;
    transition: .3s ease-in-out;
}
.escrow-btns {
    padding-top: 25px;
}
.accept-btn:focus, .accept-btn:active {
    outline: none;
}

.accept-btn:hover {
    background: RGBA(41,50,80,.95);
}
.escrow-negetive-btns a {
    font-size: 18px;
    font-weight: 600;
    color: #293250;
    padding: 10px 0;
    display: inline-block;
}
.process-img img {
    width: 70px;
    padding: 15px;
}

.process-img {
    border: 1px solid #231F20;
    display: inline-block;
    border-radius: 50%;
}

.single-process {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
}

.process-body p {
    padding-left: 20px;
    margin: 0;
    color: #7F8496;
}
.process-footer p {
    padding: 15px;
    padding-bottom: 0;
}


/* Login Modal  */

.modal-header img {
    width: 12px;
}

.modal-header {
    padding-bottom: 1rem;
}
.modal-title-area {
    margin: 0 auto;
}
.modal-title-area h5 {
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    padding: 15px 35px;
    border-bottom: 2px solid #E1E1E1;
    margin-left: 10px;
}
.modal-header {
    padding: 0 1.5rem;
}
.modal-dialog.modal-dialog-centered {
    width: 320px;
}
.modal.show .modal-dialog {
    margin: 0 auto;
}
.modal-body {
    padding: 1.5rem 2.1rem;
    padding-bottom: 0;
}
.form-group input {
    text-align: center;
    letter-spacing: 1px;
}
.modal-footer {
    margin: 0;
    padding: 0 1rem;
    border: none;
}
.modal-footer button {
    background: #293250;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.modal-footer button:hover, .modal-footer button:focus, .modal-footer button:active {
    background: RGBA(41,50,80,.95);
}

.below-modal-footer-links a, .below-modal-footer-links small {
    font-size: 12px;
    font-weight: 400;
    color: #505050;
}